# Ignore everything
*

# Except for the .github directory and its entire content
!.github/*
!.github/workflows/*

# Also keep these specific files...
!.gitignore
!*.go
!go.sum
!go.mod
!README.md
!LICENSE
# !Makefile

# ...and allow files in subdirectories
!*/

# But always ignore everything in the vendor directory
/vendor/

